@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Roboto&family=Creepster&display=swap");

.app-name {
    font-weight: bold;
    font-family: 'Creepster', cursive;
    letter-spacing: 10px;
}

textarea {
  resize: none !important;
}

.form-control {
  box-shadow: none !important;
  outline: none !important;

  &:focus {
    border-color: rgb(77, 76, 76) !important;
  }
}
