<app-header></app-header>
<div class="all-movies d-flex w-100">
    <div class="trending-and-theatre-movies p-4">
        <div class="trending-movies">
            <div class="session-header">
                <h5 class="text-uppercase">Trending Movies</h5>
                <div class="view-all-btn">View all</div>
            </div>
            <div class="d-flex justify-content-between">
                <div *ngFor="let movie of trendingMovies" class="movie-card" (click)="gotToMovieDetails('trending', movie.id)">
                <div class="movie-thumbnail">
                    <div class="movie-picture">
                        <img [src]="movie.cover">
                    </div>
                    <div class="movie-name" [ngbTooltip]="movie.name" container="body">{{ movie.name }}</div>
                </div>
                <app-rating [rating]="movie.rating" [readonly]="true" [max]="5"></app-rating>
                </div>
            </div>
        </div>
        <div class="trending-movies mt-4">
            <div class="session-header">
                <h5 class="text-uppercase">Popular In Theatres</h5>
                <div class="view-all-btn">View all</div>
            </div>
            <div class="d-flex justify-content-between">
                <div *ngFor="let movie of theatreMovies" class="movie-card" (click)="gotToMovieDetails('theatre', movie.id)">
                <div class="movie-thumbnail">
                    <div class="movie-picture">
                        <img [src]="movie.cover">
                    </div>
                    <div class="movie-name" [ngbTooltip]="movie.name" container="body">{{ movie.name }}</div>
                </div>
                <app-rating [rating]="movie.rating" [readonly]="true" [max]="5"></app-rating>
                </div>
            </div>
        </div>
    </div>
    <div class="all-time-popular">
        <h5 class="text-uppercase">All Time Popular</h5>
        <div class="mt-4">
            <div *ngFor="let movie of popularMovies" class="d-flex align-items-center justify-content-between movie-details-container"
                (click)="gotToMovieDetails('popular', movie.id)">
                <div class="movie-name" [ngbTooltip]="movie.name">{{ movie.name }}</div>
                <app-rating class="movie-rating" [rating]="movie.rating" [readonly]="true" [max]="5"></app-rating>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <div class="view-all-btn me-3">View all</div>
        </div>
    </div>
</div>

